extends ../profile
 
block tail
	//- LIBRARY
	script(src='/../../js/util/jquery-jvectormap-2.0.5.min.js')
	script(src='/../../js/util/toggleMap.js')
	//- MAP
	script(src='/../../js/util/mapProvince.js')
	//- CARTE
	script(src='/../../js/region/carte/autreActivite.js')
	//- CHART
	script(src='/../../js/region/chart/autreActivite.js')

block main
	.row.g-3#data(data-regiondata=JSON.stringify(data.regionData) data-code=codeProvince data-csrlist=csrList)
		.col-12
			include ../../util/snippet/titleDashboard
		//- ---------------- map
		.col-12
			.card.card-body
				.row.g-3
					.col-12
						.d-flex.align-items-center.fs-6
							<ion-icon name="stats-chart-outline"  class="me-2 text-1"></ion-icon>
							span.text-dark Autre activités
					.col-12
						span#title.badge.bg-5 Nombre d'autres activités réalisées
					.col-12
						#region-map(style="width: 100%; height: 400px;")
					.col-12
						#csr-chart
			#modalPlace
