extends ../util/base

block body
	.bg-body
		header.landing-page-img
			.container
				nav.card.card-body.bg-5-opacity.rounded-0
					.d-flex.justify-content-between.align-items-center
						a(href="/")
							img.img-logo(src="/../../image/logo-test.png", alt="umm")
						a.btn.btn-sm.bg-5.text-white(href='/sign-in')= data.user ? 'mon profil' : 'se connecter'
				.py-md-5.py-3.text-white.text-center
					h1.display-6.fw-bold.mb-3 Lancement de la Plateforme Nationale de la Santé Mobile - Ministère de la santé.
					span Le Ministère de la Santé en collaboration avec l’Université Mohammed VI Polytechnique lance la nouvelle plateforme nationale digitale pour la santé mobile, visant l’optimisation et l’amélioration de l’offre de soin en relation avec la santé mobile dans la zone rurale.
				
		section.card-body
			.container
				.row.g-3
					.col-12
						img.w-100.rounded(src='/../../image/article/'+data.article.image alt=data.article.title)
					.col-12
						span.fs-4.fw-bold.text-dark= data.article.title
					.col-12
						-var textList = data.article.text.split('\n')
						span.fs-5.text-dark.lh-lg
							-for(var i = 0; i < textList.length; i++)
								if (textList[i] != '\n' && textList[i] && textList[i].trim())
									span= textList[i]
									br
									br
		footer.bg-dark.card-body
			.container
				.row.g-3
					.col-12.text-center
						a(href="/")
							img.img-logo(src="/../../image/logo-test.png", alt="umm")
					.col-12
						include ../util/snippet/footer