extends ../util/base
block body
	section.d-flex.align-items-center.min-vh-100
		.bg-white.rounded.border-0.p-4.shadow-sm.w-max-1.my-2.mx-auto
			.d-flex.flex-column.align-items-center
				<ion-icon name="checkmark-circle-outline" class="text-success mb-3 display-3"></ion-icon>
				span.fs-5 E-mail envoyé avec succès