extends profile

block tail

block main
	.row.g-3
		.col-12
			.fs-6.text-dark Paramètres
		.col-lg-6
				label.form-label.fs-7(for='email') Email address
				input#email.form-control.form-control-sm(type='email' placeholder='name@example.com' value=data.document.email disabled)
		.col-12
			button.btn.btn-primary.btn-sm Éditez
		.col-lg-6
				label.form-label.fs-7(for='password') mot de passe
				input#password.mb-2.form-control.form-control-sm(type='password' placeholder='tapez le mot de passe' value='......' disabled)
				input.form-control.form-control-sm(type='password' placeholder='re-tapez le mot de passe' value='......' disabled)
		.col-12
			button.btn.btn-primary.btn-sm changez le mot de passe
