extends ../profile
 
block tail

block main
	.row.g-3
		.col-12
			include ../../util/snippet/titleDashboard
		.col-12
			.card.card-body
				.row.g-3
					.col-12
						.d-flex.align-items-center.fs-6
							<ion-icon name="stats-chart-outline"  class="me-2 text-1"></ion-icon>
							span.text-dark 
					.col-12
			#modalPlace
