extends ../profile
 
block tail
	//- LIBRARY
	script(src='/../../js/util/jquery-jvectormap-2.0.5.min.js')
	script(src='/../../js/util/toggleMap.js')
	//- MAP
	script(src='/../../js/util/mapProvince.js')
	//- CARTE
	script(src='/../../js/province/carte/santeInfantile.js')
	//- CHART
	script(src='/../../js/province/chart/santeInfantile.js')

block main
	.row.g-3#data(data-provincedata=JSON.stringify(data.provinceData) data-code=codeProvince data-csrlist=csrList)
		.col-12
			include ../../util/snippet/titleDashboard
		.col-12
			.dropdown
				button#dropdownPreview.btn.btn-sm.text-dark.bg-8.dropdown-toggle(type='button' data-bs-toggle='dropdown' data-bs-auto-close="outside" aria-expanded='false')
					| data
				ul.dropdown-menu(aria-labelledby='dropdownPreview')
					li.list-group-item.dropdown-item
						input.form-check-input.me-1(type='radio' name='data' value='enfantPrisesCharge' checked)
						span Nombre d’enfants pris en charge
					li.list-group-item.dropdown-item
						input.form-check-input.me-1(type='radio' name='data' value='vaccination')
						span Vaccination
					li.list-group-item.dropdown-item
						input.form-check-input.me-1(type='radio' name='data' value='vitamineA')
						span Vitamine A (2ème prise)
					li.list-group-item.dropdown-item
						input.form-check-input.me-1(type='radio' name='data' value='vitamineD')
						span Vitamine D (2ème prise)
					li.list-group-item.dropdown-item
						input.form-check-input.me-1(type='radio' name='data' value='enfantsAvecInsuffisancePonderale')
						span Nombre d’enfants avec insuffisance Pondérale (P/A&lt;-2DS)
					li.list-group-item.dropdown-item
						input.form-check-input.me-1(type='radio' name='data' value='enfantsAvecRetardCroissance')
						span Nombre d’enfants avec retard de croissance (T/A&lt;-2DS)
					li.list-group-item.dropdown-item
						input.form-check-input.me-1(type='radio' name='data' value='diarrhe')
						span Nombre de cas de diarrhée
					li.list-group-item.dropdown-item
						input.form-check-input.me-1(type='radio' name='data' value='ira')
						span Nombre de cas d’infections respiratoires aiguës (IRA)
					li.list-group-item.dropdown-item
						input.form-check-input.me-1(type='radio' name='data' value='reference')
						span Nombre des enfants référées
		//- ---------------- map
		.col-12
			.card.card-body
				.row.g-3
					.col-12
						.d-flex.align-items-center.fs-6
							<ion-icon name="stats-chart-outline"  class="me-2 text-1"></ion-icon>
							span.text-dark Santé infantile
					.col-12
						span#title.badge.bg-5 Nombre d’enfants pris en charge
					.col-12
						#province-map(style="width: 100%; height: 400px;")
					.col-12
						#csr-chart

