extends ../profile
 
block tail
	//- LIBRARY
	script(src='/../../js/province/jquery-jvectormap-2.0.5.min.js')
	script(src='/../../js/province/toggleMap.js')
	//- MAP
	script(src='/../../js/province/province/map.js')
	//- CARTE
	script(src='/../../js/province/province/carte/santeMaternelle.js')

block main
	.row.g-3#data(data-code=codeProvince)
		.col-12
			include ../../util/snippet/titleDashboard

		.col-12
				.dropdown
					button#dropdownPreview.btn.btn-sm.text-dark.bg-3.dropdown-toggle(type='button' data-bs-toggle='dropdown' data-bs-auto-close="outside" aria-expanded='false')
						| data
					ul.dropdown-menu(aria-labelledby='dropdownPreview')
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='femmePriseCharge' checked)
							span Nombre de femmes prises en charge
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='cpn')
							span CPN
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='femmeExaminePostNatal')
							span Nombre de femmes examinées en post natal
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='gahrDepiste')
							span GAHR dépistées
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='vat')
							span VAT
						li.list-group-item.dropdown-item
							input.form-check-input.me-1(type='radio' name='data' value='reference')
							span Référence

		//- ---------------- map
		.col-12
			.card.card-body
				.row.g-3
					.col-12
						.d-flex.align-items-center.fs-7
							<ion-icon name="stats-chart-outline"  class="me-2 text-1"></ion-icon>
							span.text-dark#title Santé maternelle - Nombre de femmes prises en charge
					.col-12
						#dataProvince(data-carte=JSON.stringify(data.carte.province))
							#province-map(style="width: 100%; height: 400px;")

