extends ../base
block body
	<section class="d-flex align-items-center min-vh-100">
		<div class="container">
			<div class="card border-0 card-body shadow-sm w-max-1 my-2 rounded-6 mx-auto">
				<div class="container">
				<div class="row g-3 justify-content-center">
					.col-12.text-center
						span.display-4 404
					.col-12.text-center
						span Page non trouvée
					.col-12.text-center
						a.btn.bg-grd(href='/') retourner à la page d'accueil
				</div>
				</div>
			</div>
		</div>
	</section>