extends ../base
block body
	<section class="d-flex align-items-center min-vh-100">
		<div class="container">
			<div class="card border-0 px-3 py-4 shadow-sm w-max-1 my-2 rounded-6 mx-auto">
				<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 text-center">
						<ion-icon name="warning-outline" class="text-danger fs-3"></ion-icon>
					</div>
					//- <div class="col-12 text-center fs-6">#{err.code}</div>
					<div class="col-12 text-center fs-6">#{err.error}</div>
				</div>
				</div>
			</div>
		</div>
	</section>