extends profile

block tail

block main
	.row.g-3
		.col-12
			include ../util/snippet/titleDashboard
		//- .col-12
			.card.card-body
				.table-responsive
					table.table.table-bordered
						tbody
							tr
								th(rowspan="2") PDR à visiter
								th(colspan="4") Liste des localités
								th(rowspan="2") T1
								th(rowspan="2") T2
								th(rowspan="2") T3
								th(rowspan="2") T4