extends ../util/base

block body
	.d-flex.align-items-stretch
		include aside
		#content.container-fluid.py-3.min-vh-100.container-cstmz
			.d-flex.flex-column.h-100
				.mb-3
					include header
				.mb-3
					main
						block main
				.mt-auto
					include ../util/snippet/footer
