extends profile

block tail

block main
	.container.min-vh-100
		.fs-3.text-1.my-4 Archive
		.row.g-3
			.col-12
				table.table.table-hover.table-bordered.shadow
					thead.alert-secondary
						tr
							th(scope='col') Année
							th(scope='col') plan d'action
							th(scope='col') rapport
					tbody
						tr
							th(scope='row') 2021
							td
								a(href='#') lien
							td
								a(href='#') lien
						tr
							th(scope='row') 2022
							td
								a(href='#') lien
							td
								a(href='#') lien
						tr
							th(scope='row') 2023
							td
								a(href='#') lien
							td
								a(href='#') lien